@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Overlock-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/BioRhyme-Bold.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../assets/fonts/BioRhyme-Light.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;
$font-3: "font-3", sans-serif;

$color-1: #19c8b9;
$color-2: #a8393d;
$color-3: #827157;
$white: #f8f8f0;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
  padding: 2.5em;
}

li {
  list-style-type: none;
  font-size: 16px;
}

h3 {
  font-family: $font-2;
  margin-left: 10px;
  color: $color-3;
  font-size: 40px;
}

h4 {
  font-family: $font-3;
  font-size: 11px;
  padding: 2px;
}

ul, input, button {
  font-size: 26px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 0px 39px;
}

#root > div > div.footer > h2 > a {
  margin-top: 30px;
  font-size: 26px;
  color: $color-1;
  text-decoration: none;
  &:hover {
    color: $color-3;
  background: #deded7;
  padding: 5px 20px;
  border-radius: 55px;
  transition: 0.4s;
  }
}


.imgFooter {
  width: 15%;
}